__pycache__
.snakemake
.ipynb_checkpoints
data
tools
sandbox
jupyter
*.log
*.aux
publications/astronaut-telomeres-paper
publications/methods-paper/figures/*-.png
publications/methods-paper/figures/*/*-.png
publications/methods-paper/figures/*.svg
publications/methods-paper/figures/*/*.svg
Snakefile
publications/methods-paper/renders/figures/Figure-*.svg
